@{
    ViewData["Title"] = "Dashboard";
}
@model List<Wedding>
<div class="container">
    <div class="row">
        <h1>Welcome to the Wedding Planner</h1>
        <div>
            <a href="/logout">Log Out</a>
        </div>
    </div>
</div>

<table>
    <tr>
        <th>Wedding</th>
        <th>Date</th>
        <th>Guests</th>
        <th>Action</th>
    </tr>

    @foreach (var wedding in Model)
    {
        <tr>
        <td><a href="/wedding/@wedding.WeddingId">
        @wedding.Bride1 & @wedding.Bride2
        </a></td>
        <td>@wedding.Date</td>
        <td>@wedding.RSVP.Count()</td>
        <td>
            @if (wedding.UserId == ViewBag.UserId)
            {
                <a href="/wedding/@wedding.WeddingId/delete">Delete</a>
            }
            else if (wedding.RSVP.Any(i => i.Guest.UserId == ViewBag.UserId))
            {
                <a href="/wedding/@wedding.WeddingId/rsvp">Un-RSVP</a>
            }
            else
            {
                <a href="/wedding/@wedding.WeddingId/rsvp">RSVP</a>
            }
        </td>
        </tr>
    }
</table>

<a href="/new">Add A Wedding</a>